
/build/
/.idea/
/.gradle/
/.kotlin/
# Project exclude paths
/target/
/run/logs/
/clients/
/run/config.json/
/run/whitelists/
/run/announcements/
/run/controllers/
/permissions.json
/image
/run/plugins
/run/scripts
/run/config
/run/config.json
/*.db
/*.json
/run/
/bootstrap/run/
/script
/run
/src/main/resources/build.properties
