
/build/
/.idea/
/.gradle/
/.kotlin/
# Project exclude paths
/target/
/logs/
/clients/
/config.json/
/whitelists/
/announcements/
/controllers/
/permissions.json
/image
/plugins
/scripts
/config
/config.json
/*.db
/*.json
/run/
/bootstrap/run/
/script
/run
/src/main/resources/build.properties
